#root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.square-button {
  width: 8em;
  height: 3em;
  border-radius: 0;
  padding: 0.6em 1.2em;
  margin: 0.5em;
}

.square-button:hover {
  border-color: #646cff;
}

.section {
  transition: all 0.3s ease-in-out;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
  color: #333;
  text-align: center;
  background-color: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.hero-image {
  width: 100%;
  max-width: 500px;
  padding: 1em 0em;
}

.features {
  padding: 1em 1em;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

}

.feature {
  margin-bottom: 30px;
}

.feature-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
}

.hero-button {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.hero-button:focus {
  color: #171e29;
}

.hero-button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.hero-button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .hero-button {
    min-width: 170px;
  }
}

.feature-img {
  margin-bottom: 20px;
  width: 60%;
}

.footer {
  background-color: #f9f9f9;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

.aboutus {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.aboutus-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left; 
}

.register {
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.login-form-button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background-color: #06f;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.8px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.update-profile-input {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  /* background-color: #fff;
  border: 1px solid #7c7c7c; */
  /* color: #000; */
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.8px;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.social {
  align-items: center;
  justify-content: center;
  color: #333;
  width: 90%;
}

.avatar {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  padding: 2em;
}

.update-profile-button {
  width: 40%;
  height: 48px;
  border-radius: 8px;
  background-color: #06f;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  /* line-height: 24px; */
  letter-spacing: -0.8px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}